
<div class="border">
<div class="card">
    <div class="logo">
        <img src="images/Logo-1.png" style="height: 80px; width: auto;" alt="Logo">
    </div>
    <h2>LOGIN</h2>
    <form>
        <input type="email" placeholder="EMAIL" class="input-field" required>
        <input type="password" placeholder="PASSWORD" class="input-field" required>
        <div class="button-container">
            <button type="submit" class="btn btn-signin">SIGN IN</button>
            <button type="button" class="btn btn-signup" (click)="signup()">SIGN UP</button>
        </div>
    </form>
</div>
</div>