<br><br><br><br>
<div class="container">
    <div class="logo">
        <img src="images/Logo-1.png" style="height: 80px; width: auto;" alt="Logo">
    </div>
    <form style="padding-top: 5%;">
        <div class="form-group">
            <input type="text" placeholder="FIRST NAME*" required>
            <input type="text" placeholder="MIDDLE NAME">
            <input type="text" placeholder="LAST NAME*" required>
        </div>
        <br><br>
        <div class="form-group">
            <input type="email" placeholder="EMAIL*" required>
            <input type="tel" placeholder="PHONE*" required>
        </div>
        <br><br>
        <input type="text" placeholder="ADDRESS 1*" class="input-field" required><br><br><br>
        <input type="text" placeholder="ADDRESS 2" class="input-field"><br><br><br>
        <div class="form-group">
            <input type="text" placeholder="CITY*" required>
            <input type="text" placeholder="STATE*" required>
            <input type="text" placeholder="ZIP CODE*" required>
        </div><br><br>
        
        <div class="file-upload"><input type="file" id="actual-btn" hidden/>
            <label for="actual-btn">Choose File</label></div><br><br>
        <textarea placeholder="COMMENTS" rows="4" class="textarea-field"></textarea><br><br>
        <button type="submit" class="submit-btn">SUBMIT</button>
    </form>
</div>