<div style="padding-left: 2%;">
    <h1 style="padding: 7% 0 0 3%; font-weight: bold; font-family:Arial, Helvetica, sans-serif  ;text-decoration: underline">CUSTOMER SUPPORT</h1><br>
    <p style="font-size: 25px; padding-right: 35%;">
        We extend our expertise to customer service solutions for businesses
        across various industries. Our team excels at delivering timely, empathetic,
        and effective customer service, resulting in brand loyalty and satisfaction.
        We respond to inquiries, resolve issues, and deliver a smooth support
        experience that aligns to your company's requirements.
    </p>
    <div class="row">
      <div class="col-md-6">
        <ul style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; padding-right: 35%;">
          <li>CUSTOMER SUPPORT</li>
          <li>TECHNICAL SUPPORT</li>
          <li>BACK-OFFICE SUPPORT</li>
          <li>SALES & RETENSION</li>
          <li>QUALITY ASSURANCE</li>
          <li>CONTENT MODRETION</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="\images\04.png" alt="img">
      </div>
    </div>
    
    </div>
 <!-- <img [src]="imagePath" alt="Gaming Services" style="width:100%; height:auto; padding-right: 35%;"> -->