<div class="row" style="padding-top: 8%">
    <div class="col-md-6">
        <img class="img-fluid" style="padding-left: 6%; height: 460px; width: 600px;" src="/images/03.jpg" alt="About Us Image">
    </div>
    <div class="col-md-6">
        <div class="card">
            <h1 style="font-size: 40px; font-weight: bolder; text-align: center;text-decoration: underline;padding-top: 25px;">ABOUT US
            </h1>
            <p style="font-family:Georgia, 'Times New Roman', serif; font-size: 22px; padding: 25px;">
                At Zerolag solutions, we are committed to delivering world-class player support and customer support.
                Whether you're a game developer looking for a professional player support or a business looking for
                outstanding customer
                service, we provide seamless experiences thatkeep people intrested and satisfied.
            </p>
        </div>
    </div>

</div>

<div class="row" style="padding-top: 6%;">
    <div class="col-md-6">
        <div style="padding-left: 35%;">
            <div class="card services">
                <h1 style="font-size: 40px; font-weight: bolder; text-align: center;text-decoration: underline;padding-top: 25px;">SERVICES
                </h1>
                <p style="font-family:Georgia, 'Times New Roman', serif; font-size: 22px; padding: 30px;">
                    We specialize in player support solutions designed specifically for game developers and publishers Our experienced team
                of industry specialists provides quick, knowledgeable, and efficient support to keep your players satisfied and engaged from technical
            concerns to account inquiries, our high-qulity support keeps your gaming community thriving </p>
            </div>
        </div>
       
    </div>
    <div class="col-md-6">
        <div style="padding-left: 10%;">
            <div class="card support">
                <h1 style="font-size: 40px; font-weight: bolder; text-align: center;text-decoration: underline;padding-top: 25px;">SUPPORT
                </h1>
                <p style="font-family:Georgia, 'Times New Roman', serif ;font-size: 22px; padding: 30px;">
                    We extend our expertise to customer service solutions for businesses across various various industries. Our team
                    excels at delivering timely, empathetic, and effective customer services, resulting in brand loyalty and satisfaction.
                    We respond to inquiries, resolve issues, and deliver a smooth support experience that aligns to your company's requirements.
                </p>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>