.card{
    height: 450px;
    width: 550px;
    border-radius: 70px;
    overflow: auto;
    display: block;
    border: 3px;
    box-shadow: 5px 5px 5px 5px #00000026;
}

.services{
    height: 580px;
    width: 400px;
    border-radius: 70px;
    overflow: auto;
    display: block;
    border: 3px;
}

.support{
    height: 580px;
    width: 400px;
    border-radius: 70px;
    overflow: auto;
    display: block;
    border: 3px;
}