<div style="padding-left: 2%;">
<h1 style="padding: 7% 0 0 3%; font-weight: bold; text-decoration: underline">GAMING SERVICES</h1><br>
<p style="font-size: 25px; font-family: Arial, Helvetica, sans-serif; padding-right: 35%;">
  We Specialize in Player support solutions designed specifically for game developers and publishers. Our experienced team of
  industry specialists provides quick, knowledgeable, and efficient support to keep your players satisfied and engaged. From
  technical concerns to account inquiries, our high-quality support keeps your gaming community thriving.
</p>
<div class="row">
  <div class="col-md-7">
    <ul style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; padding-right: 35%;">
      <li>PLAYER SUPPORT</li>
      <li>QUALITY ASSURANCE</li>
      <li>GAME COMMUNITY MODERATE</li>
      <li>GAME CONTENT MODERATION</li>
    </ul>
  </div>
  <div class="col-md-5">
    <img src="/images/02.png" alt="Gaming Services" style="width:700px; height:auto; padding-right: 35%; padding-top: 0%;">
  </div>
</div>

</div>
