/* styles.scss */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #111;
    padding: 1rem;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  header nav ul li {
    margin: 0 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
    color: #f0a500;
  }
  
  footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
  }
  
  /* Add some animation for hover effect */
  a {
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #f0a500;
  }
  