/* home.component.scss */
.home-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url('/images/01.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    //height: 100vh;
    text-align: center;
    color: white;
  }
  
  #welcome-card{
    height: 300px;
    width: 600px;
    background-color: rgba(255,255,255,0.2);
    border: 0px;
  }

  
  .welcome-message {
    animation: fadeIn 2s ease-in-out;
    padding-left: 1%;
  }
  
  .cta-button {
    padding: 15px 30px;
    background-color: #f0a500;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #d88d00;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  